name: WiFall-Guard CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy scipy scikit-learn matplotlib
        
    - name: Run Basic Preprocessing Test
      run: |
        # Burada preprocess.py dosyasının hata verip vermediğini test ederiz
        python src/preprocess.py